<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-4">
            <h4>Medical Booking</h4>
            <nav>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Answers</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Doctor Blog</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-4">
            <h4>Search by</h4>
            <nav>
              <ul>
                <li><a href="#">Doc Name</a></li>
                <li><a href="#">Practice Name</a></li>
                <li><a href="#">Speciality</a></li>
                <li><a href="#">Procedure</a></li>
                <li><a href="#">Language</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">Clinic</a></li>
                <li><a href="#">Insurance</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-4">
            <h4> Cities</h4>
            <nav>
              <ul>
                <li><a href="#">Chicago</a></li>
                <li><a href="#">Houston</a></li>
                <li><a href="#">New York</a></li>
                <li><a href="#">Philadelphia</a></li>
                <li><a href="#">Phoenix</a></li>
                <li><a href="#">San Antonio</a></li>
                <li><a href="#">Washington DC</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="pull-right">
          <h4>Are You A Top Doctor?</h4>
          <a class="loin-us-link" href="#">Join MEDICAL BOOKING today!</a>
          <div class="social-icons-box">
            <h4>Follow US:</h4>
            <a class="soc-link" href="#"><i class="fa fa-facebook-f"></i></a>
            <a class="soc-link" href="#"><i class="fa fa-twitter"></i></a>
            <a class="soc-link" href="#"><i class="fa fa-google-plus"></i></a>
          </div>
          <p class="copyright">&copy; 2013-2015 All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
